.wrapperBtnWithImage{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.linkTo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: #442D0B;
    text-transform: uppercase;
    border-radius: 40px;
    padding: 6px 7px;
    border: 1px solid #D6B139;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    width: 100%;
}
.wrapperDefaultIcon{
    background-color: #D6B139;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.defaultLinkIcon{
    fill: #442D0B;
}
.BtnWI{
    max-height: 40px;
    max-width: 172px;
    object-fit: cover;
    object-position: top;
    border-radius: 40px;
}

@media(min-width:768px){
    .linkTo{
        font-size: 26px;
        padding: 10px 11px;
    }
    .wrapperDefaultIcon{
        width: 46px;
        height: 46px;
    }
    .defaultLinkIcon{
        transform: scale(1.5);
    }
    .BtnWI{
        max-height: 100%;
        max-width: 100%;
    }
}