.title {
  font-size: 7vw;
  color: #b6771d;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 5px;
}
.title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: -40px;
  height: 1px;
  width: 130%;
  background-image: linear-gradient(
    to right,
    #b6771d 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 25px 1px;
  background-repeat: repeat-x;
}
.wrapperList{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text{
    font-size: 18px;
}
@media(min-width:768px){
    .title{
        font-size: 54px;
    }
    .title::after{
        left: -40%;
        width: 200%;
    }
    .wrapperList{
        gap: 40px;
        max-width: 80%;
    }
    .text{
        font-size: 32px;
    }
}