.navList{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 30px;
    border-top: 1px  solid #D6B139;
}
.link, .activeLink{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "SS";
    display: flex;
    align-items: center;
    gap: 6px;
    color: #442D0B;
    transition: 0.3s;
    padding: 12px 0;
}
.link:hover, .link:focus{
    color: #D6B139;
}
.activeLink{
    color: #D6B139;
}
.navigationArrow{
    transition: 0.3s;
}
.link:hover .navigationArrow, .link:focus .navigationArrow{
    transform: rotate(-180deg);
}
.submenu{
    min-width: 200px;
    position: absolute;
    z-index: 2;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    border-bottom: 2px solid #D6B139;
    border-left: 1px solid #D6B139;
    border-right: 1px solid #D6B139;
    background-color: #F7F1DE;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.subLink{
    transition: 0.3s;
    color: #442D0B;
    font-weight: 600;
}
.subLink:hover, .subLink:focus{
    color: #D6B139;
}