@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-MediumItalic.eot');
    src: local('EB Garamond Medium Italic'), local('EBGaramond-MediumItalic'),
        url('EBGaramond-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond-MediumItalic.woff2') format('woff2'),
        url('EBGaramond-MediumItalic.woff') format('woff'),
        url('EBGaramond-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-SemiBoldItalic.eot');
    src: local('EB Garamond SemiBold Italic'), local('EBGaramond-SemiBoldItalic'),
        url('EBGaramond-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond-SemiBoldItalic.woff2') format('woff2'),
        url('EBGaramond-SemiBoldItalic.woff') format('woff'),
        url('EBGaramond-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-ExtraBold.eot');
    src: local('EB Garamond ExtraBold'), local('EBGaramond-ExtraBold'),
        url('EBGaramond-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond-ExtraBold.woff2') format('woff2'),
        url('EBGaramond-ExtraBold.woff') format('woff'),
        url('EBGaramond-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-BoldItalic.eot');
    src: local('EB Garamond Bold Italic'), local('EBGaramond-BoldItalic'),
        url('EBGaramond-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond-BoldItalic.woff2') format('woff2'),
        url('EBGaramond-BoldItalic.woff') format('woff'),
        url('EBGaramond-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Regular.eot');
    src: local('EB Garamond Regular'), local('EBGaramond-Regular'),
        url('EBGaramond-Regular.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond-Regular.woff2') format('woff2'),
        url('EBGaramond-Regular.woff') format('woff'),
        url('EBGaramond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-SemiBold.eot');
    src: local('EB Garamond SemiBold'), local('EBGaramond-SemiBold'),
        url('EBGaramond-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond-SemiBold.woff2') format('woff2'),
        url('EBGaramond-SemiBold.woff') format('woff'),
        url('EBGaramond-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-ExtraBoldItalic.eot');
    src: local('EB Garamond ExtraBold Italic'), local('EBGaramond-ExtraBoldItalic'),
        url('EBGaramond-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond-ExtraBoldItalic.woff2') format('woff2'),
        url('EBGaramond-ExtraBoldItalic.woff') format('woff'),
        url('EBGaramond-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Italic.eot');
    src: local('EB Garamond Italic'), local('EBGaramond-Italic'),
        url('EBGaramond-Italic.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond-Italic.woff2') format('woff2'),
        url('EBGaramond-Italic.woff') format('woff'),
        url('EBGaramond-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Medium.eot');
    src: local('EB Garamond Medium'), local('EBGaramond-Medium'),
        url('EBGaramond-Medium.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond-Medium.woff2') format('woff2'),
        url('EBGaramond-Medium.woff') format('woff'),
        url('EBGaramond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Bold.eot');
    src: local('EB Garamond Bold'), local('EBGaramond-Bold'),
        url('EBGaramond-Bold.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond-Bold.woff2') format('woff2'),
        url('EBGaramond-Bold.woff') format('woff'),
        url('EBGaramond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

