.modalBurger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F4EDDD;
  padding: 0;
  overflow: hidden; /* Убираем лишний скролл на сайте */
  overflow-y: auto;
  scrollbar-width: none;
  z-index: 99;
  transition: 0.4s;
  border: none;
}
.modalBurgerContent {
  background-color: #F4EDDD;
  width: 100%;
  position: relative;
    padding: 155px 16px 50px;
}
.navList{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.navItem{
    border-bottom: 1px dashed #D6B139;
}
.linkWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}
.link{
    text-transform: uppercase;
    font-size: 26px;
    color: #442D0B;
    font-family: 'Garamond';
    padding: 14px 0;
}
.arrowBtn{
    border: none;
    background-color: transparent;
    padding: 14px;
    transform: rotate(-90deg);
    transition: 0.3s;
}
.rotated{
    transform: rotate(0);
}
.submenu{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 10px;
}
.subLink{
    color: #442D0B;
    font-size: 18px;
}
.arrowBtnSub{
     border: none;
    background-color: transparent;
    transform: rotate(-90deg);
    transition: 0.3s;
}
.nestedSubmenu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 10px;
}
.nestedLink{
    color: #442D0B;
    font-size: 16px;
}
.logo{
    max-width: 159px;
}
.linkMainPage{
    display: block;
    margin-bottom: 50px;
}
.titles{
    color: #442D0B;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 1px solid #B6771D;
    margin-bottom: 18px;
}
.wrapperMiddleLists{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 35px;
}

.wrapperFooterList{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.adressLink{
    color: #442D0B;
    font-size: 20px;
    font-weight: 600;
}
.footerContactLink{
    color: #442D0B;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}
.contactIcon{
    fill: #D6B139;
    transition: 0.3s;
}
.contactIcon:hover, .contactIcon:focus{
    fill: #442D0B;
}
.wrapperSocialLinks{
    display: flex;
    gap: 10px;
}
.footerLinks{
    color: #442D0B;
    font-size: 20px;
}
.cTextFooter{
    margin-top: 50px;
    color: #442D0B80;
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid #D6B139;
}
.adressLink:hover,
.adressLink:focus,
.footerNavogationLink:hover,
.footerNavogationLink:focus,
.footerContactLink:hover,
.footerContactLink:focus,
.footerLinks:hover,
.footerLinks:focus{
    color: #D6B139;
}