.title {
  font-size: 7vw;
  color: #b6771d;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 5px;
}
.title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: -40px;
  height: 1px;
  width: 130%;
  background-image: linear-gradient(
    to right,
    #b6771d 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 25px 1px;
  background-repeat: repeat-x;
}
.wrapperPropsList{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.elementProps{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px 20px 12px;
    border-radius: 30px;
    border: 1px solid #B6771D;
    background-color: #B6771D1A;
}
.contactIcon{
    max-width: 61px;
    max-height: 52px;
    fill: #D6B139;
}
.wrapperInfo{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.titleElement{
    font-size: 34px;
    text-transform: none;
    font-weight: 500;
    font-family: "SS";
    line-height: 1;
}
.textElement{
    font-size: 18px;
    line-height: 1;
}
.defaultLink{
    padding: 7px 7px 7px 15px;
    text-transform: uppercase;
    color: #442D0B;
    font-size: 16px;
    border: 1px solid #D6B139;
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    align-items: center;
    font-weight: 500;
    width: 50%;
}
.defaultLink:hover, .defaultLink:focus{
    width: 70%;
}
.wrapperDefaultIcon{
    background-color: #D6B139;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.defaultLinkIcon{
    fill: #442D0B;
}

@media(min-width:768px){
    .title{
        font-size: 3vw;
    }
    .title::after{
        left: -40%;
        width: 200%;
    }
    .wrapperPropsList{
        gap: 15px;
    }
    .elementProps{
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        padding: 34px 50px 73px 40px;
    }
    .wrapperInfo{
        max-width: 493px;
    }
    .titleElement{
        font-size: 42px;
    }
    .textElement{
        font-size: 28px;
    }
    .defaultLink{
        max-height: 67px;
        width: 20%;
        padding: 10px;
        font-size: 26px;
    }
    .defaultLink:hover, .defaultLink:focus{
        width: 25%;
    }
    .wrapperDefaultIcon{
        width: 46px;
        height: 46px;
    }
    .defaultLinkIcon{
        transform: scale(1.5);
    }
}