.heroContent{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.mainTitle{
    font-size: 26px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
}
.mainTitle, .nameTitle, .bottomTitle{
    color: #B6771D;
    font-style: italic;
}
.sideText{
    color: #442D0B;
    display: flex;
    flex-direction: column;
}
.middleRow{
    display: flex;
    align-items: center;
    gap: 10px;
}
.titleIMG{
    width: 92px;
    height: 52px;
    object-fit: cover;
    border-radius: 10px;
}
.descriptionTop, .descriptionLow{
    color: #442D0B;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.descriptionTop{
    margin-bottom: 10px;
}
.descriptionLow{
    margin-bottom: 20px;
}
.heroIMG{
    border-radius: 15px;
}
.headerBtn{
  padding: 11px 21px;
  background: linear-gradient(90deg, #d6b139, #ffe389, #d6b139);
  background-size: 200% auto; /* Растягиваем фон */
  transition: background-position 0.3s ease;
  background-position: left center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 40px;
  color: #442d0b;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "SS";
  transition: background 0.3s;
}
.headerBtn:hover,
.headerBtn:focus {
  background-position: right center;
}
