.heroContent {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.mainTitle {
  font-size: 26px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.mainTitle,
.nameTitle,
.bottomTitle {
  color: #b6771d;
  font-style: italic;
}
.sideText {
  color: #442d0b;
  display: flex;
  flex-direction: column;
}
.middleRow {
  display: flex;
  align-items: center;
  gap: 10px;
}
.titleIMG {
  width: 92px;
  height: 52px;
  object-fit: cover;
  border-radius: 10px;
}
.descriptionTop,
.descriptionLow {
  color: #442d0b;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.descriptionTop {
  margin-bottom: 10px;
}
.descriptionLow {
  margin-bottom: 20px;
}
.heroIMG {
  border-radius: 15px;
  position: relative;
  box-shadow: 
    3px 0px 0px 0px #B6771D, 
    7px 0px 0px 0px #D99026, 
    10px 0px 0px 0px #FFAA31;
}
.headerBtn {
  padding: 11px 21px;
  background: linear-gradient(90deg, #d6b139, #ffe389, #d6b139);
  background-size: 200% auto; /* Растягиваем фон */
  transition: background-position 0.3s ease;
  background-position: left center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 40px;
  color: #442d0b;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "SS";
  transition: background 0.3s;
}
.headerBtn:hover,
.headerBtn:focus {
  background-position: right center;
}

@media (min-width: 768px) {
  .heroSection {
    padding-top: 100px;
  }
  .heroContent {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .mainTitle {
    font-size: 70px;
    line-height: 1;
    margin-bottom: 46px;
  }
  .titleIMG {
    width: 158px;
    height: 123px;
  }
  .heroIMG {
    max-width: 648px;
    max-height: 720px;
    border-radius: 30px;
    box-shadow: 
    6px 0px 0px 0px #B6771D, 
    12px 0px 0px 0px #D99026, 
    18px 0px 0px 0px #FFAA31;
}
  .descriptionLow,
  .descriptionTop {
    font-size: 32px;
  }
  .headerBtn {
    font-size: 26px;
    padding: 25px 63px;
    max-width: 50%;
    margin: 0 auto;
  }
}
