.title{
    font-size: 26px;
    text-transform: none;
    color: #C99631;
    margin-bottom: 20px;
}
.wrapperList{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 70px;
}
.text{
    font-size: 18px;
}
.title_2{
    text-transform: none;
    font-size: 26px;
    margin-bottom: 20px;
}
.wrapperList_2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}
.listElement{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}
.dot{
    width: 8px;
    height: 8px;
    background-color: #C99631;
    border-radius: 50%;
    flex-shrink: 0;
}
.wrapperImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.YouthfulnessServicesImg{
    width: 50%;
}
@media(min-width: 768px){
    .title{
        font-size: 70px;
        margin-bottom: 40px;
    }
    .wrapperList{
        gap: 40px;
    }
    .text{
        font-size: 32px;
    }
    .title_2{
        font-size: 50px;
        margin-bottom: 30px;
        max-width: 70%;
    }
    .wrapperList_2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 85px;
    }
    .listElement{
        font-size: 32px;
    }
    .wrapperImages{
        gap: 20px;
    }
    .YouthfulnessServicesImg{
        width: 30%;
    }
}