.EducationAboutSection{
    position: relative;
}
.EducationAboutSection::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 1px;    
    width: 100%;
    background-image: linear-gradient(
    to right,
    #b6771d 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 25px 1px;
  background-repeat: repeat-x;
}
.EducationAboutSection::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 1px;    
    width: 100%;
    background-image: linear-gradient(
    to right,
    #b6771d 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 25px 1px;
  background-repeat: repeat-x;
}
.title{
    color: #b6771d;
    text-transform: none;
    font-size: 36px;
    max-width: 80%;
    margin-bottom: 20px;
}
.educationList{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.listElement{
    display: flex;
    gap: 8px;
    font-size: 18px;
    max-width: 90%;
}
.dot{
    margin-top: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #b6771d;
}

@media(min-width:768px){
    .title{
        font-size: 66px;
        margin-bottom: 50px;
    }
    .educationList{
        gap: 38px;
    }
    .listElement{
        gap: 15px;
        font-size: 32px;
    }
    .dot{
        margin-top: 7px;
        width: 14px;
        height: 14px;
    }
}