.title {
  font-size: 7vw;
  color: #b6771d;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 5px;
}
.title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: -40px;
  height: 1px;
  width: 130%;
  background-image: linear-gradient(
    to right,
    #b6771d 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 25px 1px;
  background-repeat: repeat-x;
}

.wrapperTariffCards{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.cardElementOne, .cardElementTwo, .cardElementThree{
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    display: flex;
        flex-direction: column;
}
.cardElementOne{
    background-color: #B6771D;
    border: 1px solid #B6771D;
}
.cardElementTwo{
    background-color: #D6B139;
    border: 1px solid #D6B139;
}
.cardElementThree{
    background-color: #442D0B;
    border: 1px solid #442D0B;
}
.logo{
    position: absolute;
    width: 154px;
    height: 154px;
    right: -35px;
    top: 20px;
    z-index: 0;
}
.wrapperTitle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px 25px;
    min-height: 193px;
}
.titleCard{
    font-size: 36px;
    text-transform: none;
    line-height: 1;
}
.cardElementOne .titleCard, .cardElementThree .titleCard{
    color: #F7F1DE;
}
.price{
    padding: 11px 46px;
    font-size: 28px;
    font-weight: 500;
    border-radius: 30px;
    line-height: 1;
    width: fit-content;
}
.cardElementOne .price, .cardElementThree .price{
    border: 1px solid #D6B139;
    color: #F7F1DE;
}
.cardElementTwo .price{
    border: 1px solid #B6771D;
}
.wrapperArticle{
    background-color: #F7F1DE;
    padding: 20px 18px 26px;
    border-radius: 40px 40px 0 0;
    position: relative;
    z-index: 1;
    display: flex;
        flex-direction: column;
}
.nameCard{
    text-align: center;
    font-size: 20px;
    color: #B6771D;
    font-family: "SS";
    text-transform: none;
    margin-bottom: 40px;
}
.wrapperListCard{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
}
.wrapperListCard li{
    font-size: 20px;
    color: #442D0B;
    border-bottom: 1px solid #B6771D80;
}
.headerBtn {
  padding: 11px 21px;
  background: linear-gradient(90deg, #d6b139, #ffe389, #d6b139);
  background-size: 200% auto; /* Растягиваем фон */
  transition: background-position 0.3s ease;
  background-position: left center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 40px;
  color: #442d0b;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "SS";
  transition: background 0.3s;
  width: fit-content;
  margin: 0 auto;
}
.headerBtn:hover,
.headerBtn:focus {
  background-position: right center;
}

@media(min-width:768px){
    .title{
        font-size: 3vw;
    }
    .title::after{
        left: -40%;
        width: 200%;
    }
    .wrapperTariffCards{
        flex-direction: row;
        align-items: stretch;
    }
    .cardElementOne, .cardElementTwo, .cardElementThree{
        width: 100%;
    }
    .logo{
        width: 220px;
        height: 220px;
    }
    .wrapperTitle{
        padding: 42px 28px 34px;
        min-height: 271px;
    }
    .titleCard{
        font-size: 52px;
    }
    .price{
        font-size: 42px;
        padding: 16px 63px;
        border-radius: 40px;
    }
    .wrapperArticle{
        padding: 30px 25px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .nameCard{
        font-size: 28px;
        margin-bottom: 56px;
    }
    .wrapperListCard{
        margin-bottom: 80px;
        flex-grow: 1;
    }
    .wrapperListCard li{
        font-size: 28px;
    }
}