.footer{
    background-color: #442D0B;
    padding: 0 0 40px;
}
.logo{
    max-width: 159px;
}
.linkMainPage{
    display: block;
    margin-bottom: 50px;
}
.titles{
    color: #F7F1DE;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 1px solid #B6771D;
    margin-bottom: 18px;
}
.wrapperMiddleLists{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 35px;
}

.wrapperFooterList{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.adressLink{
    color: #F7F1DE;
    font-size: 20px;
    font-weight: 600;
}
.footerContactLink{
    color: #F7F1DE;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}
.contactIcon{
    fill: #D6B139;
    transition: 0.3s;
}
.contactIcon:hover, .contactIcon:focus{
    fill: #F7F1DE;
}
.wrapperSocialLinks{
    display: flex;
    gap: 10px;
}
.footerLinks{
    color: #F7F1DE;
    font-size: 20px;
}
.cTextFooter{
    margin-top: 50px;
    color: #F7F1DE80;
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid #D6B139;
}
.adressLink:hover,
.adressLink:focus,
.footerNavogationLink:hover,
.footerNavogationLink:focus,
.footerContactLink:hover,
.footerContactLink:focus,
.footerLinks:hover,
.footerLinks:focus{
    color: #D6B139;
}

@media(min-width: 768px){
    .footer{
        padding: 65px 0 0;
    }
    .footerContent{
        display: flex;
        justify-content: space-between;
    }
    .logo{
        max-width: 231px;
        width: 231px;
    }
    .wrapperFooterList{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .titles{
        font-size: 26px;
    }
    .footerNavogationLink{
        color: #F7F1DE;
        font-size: 24px;
    }
    .adressLink, .footerContactLink, 
    .footerNavogationLink, .footerLinks{
        font-size: 24px;
    }
    .cTextFooter{
        padding: 35px;
        font-size: 24px;
        margin-top: 110px;
    }
}