.title{
    font-size: 26px;
    color: #C99631;
    text-transform: none;
    margin-bottom: 20px;
    max-width: 82%;
}
.wrapperList{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}
.listText{
    display: flex;
    gap: 8px;
    font-size: 18px;
}
.dot{
    width: 8px;
    height: 8px;
    background-color: #C99631;
    border-radius: 50%;
    margin-top: 4px;
    flex-shrink: 0;
}
.lastText{
    font-size: 18px;
}

@media(min-width: 768px){
    .title{
        font-size: 70px;
        margin-bottom: 70px;
    }
    .wrapperList{
        gap: 38px;
        max-width: 80%;
    }
    .listText{
        gap: 15px;
        font-size: 32px;
    }
    .dot{
        width: 14px;
        height: 14px;
        margin-top: 8px;
    }
    .lastText{
        font-size: 32px;
        max-width: 95%;
    }
}