.title {
  font-size: 7vw;
  color: #b6771d;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
  padding-bottom: 5px;
}
.title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: -40px;
  height: 1px;
  width: 130%;
  background-image: linear-gradient(
    to right,
    #b6771d 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 25px 1px;
  background-repeat: repeat-x;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.element{
    background-color: #F4EDDD;
    border-radius: 30px;
    padding: 20px 20px 20px 12px;
}
.contactIcon{
    fill: #D6B139;
    max-width: 47px;
    max-height: 47px;
    margin-bottom: 20px;
}
.titleElement{
    font-family: "SS";
    font-size: 34px;
    text-transform: none;
    margin-bottom: 20px;
}
.textElement{
    font-size: 18px;
}

@media(min-width:768px){
    .title{
        font-size: 3vw;
    }
    .title::after{
        left: -40%;
        width: 200%;
    }
    .list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px 52px;
        justify-content: space-between;
    }
    .element{
        width: 48%;
        padding: 34px 20px 34px 40px;
    }
    .contactIcon{
        max-width: 100%;
        max-height: 100%;
    }
    .titleElement{
        font-size: 42px;
    }
    .textElement{
        font-size: 28px;
    }
}