@font-face {
  font-family: "Garamond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/EBGaramond-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Garamond";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/EBGaramond-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "SS";
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/SourceSans3-Roman.woff2") format("woff2");
}
@font-face {
  font-family: "SS";
  font-style: italic;
  font-display: swap;
  src: url("./assets/fonts/SourceSans3-Italic.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth; /* Для плавного скролла по якорям и по сайту */
  scrollbar-gutter: stable;
  background-color: #F7F1DE;
  font-family: "SS", sans-serif;
  color: #442D0B;
}
body {
  margin: 0 auto;
}
div {
  position: relative;
}
section {
  position: relative; /* MOBILE */
  padding: 35px 16px;
  overflow: hidden;
}
ul,
ol {
  list-style: none; /* Убираем базовые цифры и пометки списков */
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none; /* Убираем подчеркивание ссылок */
}
p,
li,
a {
  white-space: pre-line;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Garamond";
  font-weight: 400;
  text-transform: uppercase;
}
button {
  font-family: "SS";
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
}
.container {  /* MOBILE */
  max-width: calc(375px - 32px);
  margin: 0 auto;
}

@media(min-width: 768px){
  .container{
    max-width: 1440px;
  }
}