@font-face {
    font-family: 'Garamond';
    src: url('./assets/fonts/subset-EBGaramond-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SS';
    src: url('./assets/fonts/subset-SourceSans3-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SS';
    src: url('./assets/fonts/subset-SourceSans3-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SS';
    src: url('./assets/fonts/subset-SourceSans3-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Garamond';
    src: url('./assets/fonts/subset-EBGaramond-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth; /* Для плавного скролла по якорям и по сайту */
  scrollbar-gutter: stable;
  background-color: #F7F1DE;
  font-family: "SS";
  color: #442D0B;
}
body {
  margin: 0 auto;
}
div {
  position: relative;
}
section {
  position: relative; /* MOBILE */
  padding: 35px 0;
  overflow: hidden;
}
ul,
ol {
  list-style: none; /* Убираем базовые цифры и пометки списков */
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none; /* Убираем подчеркивание ссылок */
  transition: 0.3s;
}
p,
li,
a {
  white-space: pre-line;
  line-height: 1;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Garamond";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}
button {
  font-family: "SS";
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
}
.container {  /* MOBILE */
  max-width: calc(375px - 22px);
  margin: 0 auto;
}

@media(min-width: 768px){
  section{
    padding: 80px 0;
  }
  .container{
    max-width: 1440px;
  }
}