@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  src: url("./assets/fonts/RobotoFlex-Regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "RobotoMono";
  font-style: normal;
  src: url("./assets/fonts/RobotoMono-Medium.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth; /* Для плавного скролла по якорям и по сайту */
  scrollbar-gutter: stable;
  background-color: #F7F1DE;
  font-family: "Roboto", sans-serif;
  color: #442D0B;
  height: 200%;
}
#root {
  --font-robotomono: 'RobotoMono', monospace;
  height: 200%;
}
body {
  margin: 0 auto;
}
div {
  position: relative;
}
header, footer {
    padding: 0 16px;
  }
section {
  position: relative; /* MOBILE */
  padding: 25px 16px;
  overflow: hidden;
}
ul,
ol {
  list-style: none; /* Убираем базовые цифры и пометки списков */
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none; /* Убираем подчеркивание ссылок */
}
p,
li,
a {
  white-space: pre-line;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: 600;
  text-transform: uppercase;
}
button {
  font-family: "Roboto";
  font-weight: 400;
  transition: 0.3s;
  cursor: pointer;
}
.container {  /* MOBILE */
  max-width: 390px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 1320px; /* Здесь всё ок */
  }
  header, footer {
    padding: 0 30px;
  }
  section{
    padding: 35px 30px;
  }
  
}

@media (min-width: 1320px) {
  .container {
    max-width: 1640px;
  }
  header, footer {
    padding: 0 40px;
  }
  section{
    padding: 45px 40px;
  }
}

@media (min-width: 1640px) { 
  .container {
    max-width: 1920px;
  }
  header, footer {
    padding: 0 50px;
  }
  section{
    padding: 60px 50px;
  }
}