.title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #c99631;
  text-transform: none;
}
.wrapperCards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card {
  border-radius: 30px;
  padding-top: 30px;
  overflow: hidden;
}
.card_1 {
  background-color: #f4eddd;
}
.card_2 {
  background-color: #d6b139;
  border: 1px solid #d6b139;
}
.card_3 {
  background-color: #c99631;
  border: 1px solid #c99631;
}
.icon {
  display: block;
  margin: 0 auto 28px;
  fill: #fefefe;
}
.card_1 .icon {
  fill: #442d0b;
}
.titleCard {
  text-transform: none;
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}
.titleCardWhite{
    color: #f4eddd;
}
.wrapperText{
    padding: 25px 20px;
    border-radius: 30px;
    background-color: #FEFEFE;
}
.wrapperText_1{
    border: 1px solid #d6b139;
}
.text{
    font-size: 18px;
}

@media(min-width:768px){
    .title{
        font-size: 66px;
        margin-bottom: 64px;
    }
    .wrapperCards{
        flex-direction: row;
    }
    .card{
        display: flex;
        flex-direction: column;
    }
    .icon{
        margin-bottom: 32px;
    }
    .titleCard{
        font-size: 52px;
        margin-bottom: 40px;
    }
    .wrapperText{
        padding: 30px 20px 30px 36px;
        flex-grow: 1;
        min-height: 450px;
        display: flex;
        align-items: center;
    }
    .text{
        font-size: 28px;
    }
}